nav{
    background-color: #555555;
    padding: 10px;
    text-align: center;
    top: 0;
}
nav> span{
    background-color: #555555;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

span.user{
    position: absolute;
    right: 20px;
    font-size: 20px;
    background-color: #03c0fa;
    padding: 3px 10px;
    border-radius: 50%;
    cursor: pointer;
}