nav{
    background-color: #555555;
    padding: 10px;
    text-align: center;
    top: 0;
}
nav> span{
    background-color: #555555;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

span.user{
    position: absolute;
    right: 20px;
    font-size: 20px;
    background-color: #03c0fa;
    padding: 3px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.drop-css{
    display: inline;
    position: absolute;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.drop-css>button.no-arrow{
    background-color: #03c0fa;
    padding: 3px 10px;
    border-radius: 50%;   
    border: none;
}

.drop-css>button.no-arrow:active{
    background-color: #03c0fa;
}

.drop-css>button.no-arrow:hover{
    background-color: #03b3e9;
}

.no-arrow::after {
    display: none !important;
  }