div#sidebar{
    float: left;
    background-color: #ccd2dc;
    height: 100vh;
    position:fixed; 
    overflow-y:auto;
}

a.row{
    /* background-color: #86878a; */
    color: rgb(58, 57, 57);
    display: block;
    text-decoration: none;
    padding: 0.5rem 0.3rem;

    font-size: 17px;
    font-weight: 600;
    transition: background-color 0.4s border-radius 0.5s color 0.7s;
    /* transition: all 0.2s; */
    margin-top: 1rem;
}

a.row:hover{
    background-color: rgb(97, 97, 97);
    color: white;
    border-radius: 7px;
}

a.row:first-child {
    margin-top: 2.5rem;
}

.sidebar-link {
    color: rgb(58, 57, 57);
    /* display: block; */
    text-decoration: none;
    padding: 0.3rem;

    font-size: 17px;
    font-weight: 600;
    transition: background-color 0.4s border-radius 0.5s color 0.7s;
    /* transition: all 0.2s; */
    margin-top: 1rem;
}

.sidebar-link:hover {
    color: white;
}