body {
    font-family: "Poppins", sans-serif;
      background-color: #010409;
      color: white;
    }
    
div.task-container{
        padding: 1rem;
        margin-left: 7rem;
        align-items: start;
}
.task-container.collapsed {
  margin-left: 3rem;
}

.text-pink {
  color: #e1028f;
}

.stats-bg-gradient {
  background: linear-gradient(to right, #000000, #737373);
  color: white;
}

.project-title {
  font-weight: bolder;
}