body {
    font-family: "Poppins", sans-serif;
      background-color: #010409;
      color: white;
    }
    
div.task-container{
        padding: 1rem;
        margin-left: 7rem;
        align-items: start;
}
.task-container.collapsed {
  margin-left: 3rem;
}

.dark-input {
    background-color: #0d1117;
    color: white;
    border: 1px solid #30363d;
  }

.wrapper-div {
    border-radius: 5px;
    background: linear-gradient(to right, #f3e353, #e19809);
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  form label {
    border-bottom: none;
    text-decoration: none;
  }

  input[type="checkbox"],
    input[type="radio"] {
        background-color: #0d1117;
        border-color: 1px solid #30363d;
}

.generated-idea {
  font-size: 1rem;
  line-height: 1.5;
}

.generated-idea strong {
  font-weight: bold;
}

.generated-idea em {
  font-style: italic;
}

.generated-idea p {
  margin-bottom: 0.8rem;
}
