body {
font-family: "Poppins", sans-serif;
  background-color: #010409;
  color: white;
}

div.task-container{
    padding: 1rem;
    margin-left: 7rem;
    text-align: center;
}

.form-bg-gradient {
    background: radial-gradient(circle, #2e3137, #89858d);
  }
  
  .table-bg-gradient {
    background: linear-gradient(to right, #6f42c1, #20c997);
  }

  .form-bg-gradient > * {
    background: none;
  }

  .border-violet {
    border: 4px solid rgb(172, 101, 238);
    border-radius: 12px;
  }

  /* .no-bg {
    background: none;
  } */

  .white-text {
    color: white;
  }

  .modal-bg-dark {
    /* background-color: #2e3137; */
    background: linear-gradient(#2e3137, #3d4042, #2e3137);
    color: white;
    border: 1px solid rgb(172, 101, 238, 0.5);
  }

  .dark-input {
    background-color: #242525;
    color: white;
    border: 1px solid #aeb0b2;
  }
