div.task-container{
    padding: 1rem;
    margin-left: 7rem;
    text-align: center;
}
ul{
    list-style:none;
}

li{
    background-color: rgb(31, 30, 30);
    border: 1px solid grey;
    border-radius: 5px;

    margin-bottom: 1rem;
    margin-top: 1rem;
    padding:1rem
}