div.task-container{
    padding: 1rem;
    margin-left: 7rem;
    align-items: start;
}
.task-container.collapsed {
margin-left: 3rem;
}

.bg-member-profile {
    background: linear-gradient(#2e3137, #89858d);
    border-radius: 15px;
    border: 1px solid rgb(174, 172, 172);
}

.text-green {
    color: #31c64a;
}

.text-blue {
    color: #1188ff;
}